@model IEnumerable<ShopManagement.Models.Product>

@{
    ViewBag.Title = "Index";
}
<section class="section__gradient section__form section__form-link">
    <div class="container body-content">
        <h2 class="heading-secondary heading-secondary--white u-margin-top-huge">Manage Products</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) 
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    </td>
                </tr>
            }

        </table>
    </div>
</section>