@model IEnumerable<ShopManagement.Models.Category>

@{
    ViewBag.Title = "Index";
}

<section class="section__gradient section__form section__form-link">
    <div class="container body-content">
        <h2 class="heading-secondary heading-secondary--white u-margin-top-huge">Manage Categories</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) 
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                    </td>
                </tr>
            }

        </table>
   
    </div>
</section>